.bg-form {
  background: linear-gradient(180deg, #4d307b 0%, #f23faa 100%);
}
.border-radius {
  border-radius: 19.1888px;
}
.botonIngresar:hover {
  height: 180%;
}
.text-registro {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 51.17px;
  line-height: 62px;
  /* identical to box height */

  color: #000000;
}
